*{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
    scroll-behavior: smooth;
    font-family: "Be Vietnam Pro" , "sans-serif";
}

.wrapper{
    height: 100vh;
    overflow-x: hidden ;
    overflow-y: auto;
}

.container{
            width: 1200px;
            margin: 0 auto;

}  
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;


    padding-top: 1rem;

}
.logo{
    width: 90px;
}
.logo-container{
    display: flex;
    align-items: center;
    justify-content: baseline;
}
.logo-text{
           margin-left: -1.3rem; ;
           font-size: 20px;

}
.nav-items{
    display: flex;
    gap: 2rem;
    padding: 0 4rem ;
}
.nav-items div{
                 font-size:  20px; 
                 font-weight: 500;
                 cursor: pointer;
                 
}
a{
    text-decoration: none;
    color:black;
}

.nav-items div:hover{
           font-weight: bold;      
           transition: 0.8s;     

}

.hero-section{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 5rem;
    margin: 4rem auto;
    padding: 0 1rem;
    padding-bottom: 8rem;
}

.faded-text{

      user-select: none;
      font-size: 7em;
      color: rgba(231,231,231 );

      bottom: -15%;
      left: -5%;
      font-weight: bold;
      transition: all 3s;
}

.hero-section-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;

}
  .hero-section-heading{
           font-size: 35px ;
           font-family: #343d65;
           font-weight: 500 ;

  }

  /* JS ka kaam krne ke baad krega ye wala section 
  .role{
    font-weight: 500 ;
    color:#4e45de ;
  } */


 
  .Ajay{
    display: flex;
    }
    .typewriter{
        flex: 0.84 ;
    }
    
  .typewriter{
    position: relative;
    margin-left: 15px;
    color: rgb(233, 83, 83);
    font-family: emoji;
    font-weight: normal;

    
  }
  .typewriter::after{
    content: "|";
    position: absolute;
    right: 0;
    color: purple;
    background-color: white;
    width: 100%;
    animation: typing 3s steps(18) alternate infinite,
               line 1s infinite;
    
  }
  @keyframes typing {
    to{
        width: 0%;
    }
    
  }
  @keyframes line {
    50%{
        color: transparent;
    }
    
  }



  .hero-section-sub-heading{
    font-size: 45px;
    line-height: 45px;
  }
   .hero-section-description{
    margin-top: 1rem;
    width: 70%;
    font-weight: 500;
   }


   .btn-pink{
    width: 140px;
    height: 60px;
    background-color: #e84949;
    padding: 0.8rem 2.3rem;
    color: white;
    font-size: 18px;
    box-shadow: 5px 7px 0px  #0000003f;
    position: relative;
    z-index: 1;
}  


   #btn{
    height: 40px;

    width: 120px;
   }

.btn-pink::before{

    content:"";
    background-color: #1f1f1f;
    position:absolute ;
    top:0;
    left:0;
    right: 0;
    bottom: 0;
    transform: scaleX(0);
    transform-origin: left;
    transition: all 1s;
    z-index: -1;
}

.btn-pink:hover::before{
    transform:scaleX(1);
     
}

.hero-section-right{
    position: relative;

}

.absolute{
    position: absolute;
}

.user-image{
    padding: 2.5rem;
    filter: grayscale(1);
    transition: all 1s;
    animation: scaleimage 5s linear infinite;
    background-size: cover;
   
    
 }
 
 .user-image img{
    z-index: -9;
 }

 @keyframes scaleimage {

     0%{
           filter: grayscale(0);
           transform: scale(1);
     }
     50%{
            transform: scalc(1.4);
            filter: grayscale(1);
            box-shadow:3px 3px 10px black;
        }
     100%{
                
               transform: scale(0.9);
               transform: grayscale(0);
     }
    
 }

 .icon-dots{
     
      z-index: 9;
      bottom: -1rem;
      right: 0;
      animation: dotsanimation;
      animation-duration: 5s ;
      animation-iteration-count: infinite;
      
 }

 @keyframes dotsanimation {
            
    0%{  
        transform: translateY(0px);

    }
    50%{

         transform: translateY(-15px);
    }
       100%{
               transform: translateY(0.9px);
       } 
 }

 .icon-cube{
    z-index: 9;
    top: -0.8m;
    right: 1em;
    animation-name: cuberotate;
    animation-duration: 3s;
    animation-iteration-count: infinite;
 }

 @keyframes cuberotate {
            
    0%{  
        transform:rotateY(0deg) translateY(0px);

    }
    50%{

         transform:rotateY(180deg ) translateY(-12px);
    }
       100%{
               transform:rotateY(360deg) translateY(0px ) ;
       } 
 }

 .icon-circle{
    z-index: 9;
    left: 0;
     bottom: 0;
     animation-name: shakeeffect;
    animation-duration: 6s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
 }
 @keyframes shakeeffect {
            
    /* 0%{  
       left: 0;
       bottom: 0;

    } */
    50%{   
        
          left: 8%;
          bottom: 2em;
        
    }
 
 }

 .icon-zigzag{
    z-index: 9;
    top: 1.5em;
    left: -0.3em;
    animation-name: zigzaganimation;
    animation-duration: 5s;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
     
 }
    
@keyframes zigzaganimation {

    

    50%{
        left: 5%;
        top: 2%;
    }
    
}

.icon-plus{
    z-index: 9;
    top: -0.8rem;
    left: 50%;
    animation-name: shakeefectplus;
    animation-duration: 5s;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
}
@keyframes shakeefectplus {

    50%{
        top: 3%;
        left: 48%;

    }
}

.project-section{
    background-color: rgb(231,231,231);
    margin-top: 4rem;
   
}

#project-header{
    color:orangered ;
    font-size:90px ;
    text-align: center;
    padding: 30px;

}

.project-container{
               max-width:1200px;
               margin: 0 auto;
               padding:3rem 0;

               display: flex;
               flex-direction: column;
               gap: 120px ;

           }

.project-card{
                
         width:75%;
         height: 500px;
         background-image: url(Screenshot\ \(29\).png); 
         block-size:cover ;
         /* background-repeat: no-repeat; */
         position:relative;
         box-shadow: 0px 0px 40px #1f1f1f;
}


.project-card::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:  #1f1f1f9a;
    transform: scaleX(1);
    z-index: 0;
     
}

.project-card::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: linear-gradient(45deg,#343d68,#343d68be,#343d687c) ;
    transform: scaleX(0);
    transform-origin: left;
    transition: 0.4s;
    z-index: 1;
}
 
.project-card:hover:before{
    transform: scaleX(1);
}
.project-number{
    position: absolute;
    font-weight: 600px;
    font-size: 150px;
    color: white;
    z-index: 10;
    display: none ;
    
}

.project-card:hover .project-number{
                            
    display: block;
               
 
}

.project-number-right{    right: -50px;
    top: -60px;
}

.project-number-left{    left: -40px;
    top: -60px;
}
.project-number-03{
    right: -50px;
    top: -60px;
}

 .project-content{
      position:absolute; 
      display: flex;
      flex-direction: column;
      color: white;
      padding: 2em;
      bottom: 20%; 
      z-index: 10;
      gap: 1em;
      transition: all 0.4s;
}
.project-content-left{
    left: 10%; 
} 
.project-content-right{
    left: 8%;
}

.project-skills-container{
    width: 40%;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;

}
.project-skills{
     width: 38px;
}
.project-heading{
    font-size: 50px;
    font-weight: bold;
    line-height: 3rem ;
}
.project-subheading{
    width: 70%;
    font-size: 16px;
    font-style: italic;

}
.btn-grp{
    display: flex;
    gap:0.9rem  ;
    align-items: center;
}

.btn-project:hover{
    border: none;
}

.icon{
    cursor: pointer;
    color: white;
    font-size: 35px;
    transition:all 0.4s ;
}
.icon:hover{
    color: orangered;
}


.project-card:hover .project-content{
    transform: scale(1.1); 
}

#project1{
    background-image: url(Screenshot\ \(29\).png);
    background-size: cover;
}
#project2{
    margin: 120px;
    background-image: url(game.png);
    background-size: cover;
}
#project3{
    background-image: url(modern\ chair.png);
    background-size: cover;
}
#project4{
    margin: 120px;
    background-image: url(parallex.png);
    background-size: cover;
}

.skills-container{
    position: relative;
    display: flex;
    padding: 5rem;
    margin:10rem auto ;
    gap: 30px;
}

.skill-container-left{
     width: 50%;
     display: flex;
     flex-direction: column;     
}
.skill-container-right{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    gap: 2rem;
    justify-content: center;
}
.skill-fade-text{
    position:absolute ;
    font-size: 15em ;
    font-style: bold;
    color: rgb(231,231,231 );
    bottom: -34.5%;
    right: -10%;
    user-select: none;
    overflow-y: hidden;

}

.blob-style{
    mix-blend-mode: multiply;
         height: 220px ;
         position: absolute;
         top: 50%;
         left: 50%;
         transform:translate(-50%,-50%) ;
         animation:blobanimate 3s linear infinite;
         z-index: -5;
}

@keyframes blobanimate {
    50%{
        top: 54%;
        left: 56%;
    }
    
}
.skills-logo{ 
  
    justify-content: center;
    mix-blend-mode: multiply;
    height: 86px;
    width: 86px;
    transition: 0.5s  ;
}
.skills-logo:hover{
      transform: scale(1.2);
}

.skill-heading{ 
    /* font-family: "Be Vietnam Pro" , "sans-serif"; */
    color: orangered;
    font-size: 50px;
    font-style: bold;
    line-height: 50px;
}
.caps{
    font-size: 85px;
}
.skill-subheading{
    margin-top: 1rem;
    width: 85%;
    text-align: justify;

}
.skill-subheading p{
    margin: 15px 0 ;
}
.contectus-form-container{
    width: 100%;
    background-color: rgb(231,231,231 );
}

.contectus-heading{
    color: orangered;
    font-size:5em ;
    padding-top:2rem ;
    
}
.contentus-subheading{
        color: #343d68aa;
        font-size: 3rem;
        text-transform: capitalize;

}


.contectus-form-container{
    margin-top:25px ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}
.form{
    display: flex;  
    flex-direction: column;
    gap: 30px;
    width: 70%;
    margin:2rem 5rem  ;
}

.formfield-container{ 
    /* display: flex;
    flex-direction: column; */
    width: 100%;
}

.formfield{ 
    width: 100%; 
    height: 42px;
    padding: 0 2rem;
    font-size: 18px;
    border-radius:5px;
    box-shadow: 2px 2px 10px #1f1f1f; 
    font-weight: 500;
    border: none;
    margin-top: 17px;
}
.formfield-textarea{
     height:200px;
     padding-top:1rem ;
}

#submit-btn{
    border: none;
    font-size: 1.4rem;
    margin: 0.5rem 0;
    width: 190px;
    height: 70px;
    transition: 1s;

}
#submit-btn:hover{
    
    scale: 0.9;
}
footer{
    position: relative;
    margin-top:-1px ;
    background-color:#343d68 ;
    padding: 5rem;
}
.footer-wrapper{
    display: flex;
    gap: 1rem;
    padding: 1.2rem;
    justify-content: space-between;
    align-items: center;
}
.footer-faded-text{
    position: absolute;
    left: 0;
    bottom: 0;
    color: #535c85;
    user-select: none;
    font-size:5em ;
}
.link-wrapper{
    display: flex;
    gap: 1.2rem;
}
.link-wrapper div a{
    color: white ;
    text-decoration: none;
    transition: all 0.6s;
}
.link-wrapper div a:hover{
    color: orangered;
}
